/* ******************************** */
/*              General             */
/* ******************************** */

:root {
	--primary-color: #111;
	--secondary-color: #fff;
	--accent-color: #353535;
	--hover-color: #666;
	--header-color: #090909;
	--user-color: #00BDD1;
	--header-disabled-color: #535353;
	--input-error-color: #461623;
	--input-error-border-color: #68292a;
	--input-error-text-color: #b3373a;
	--input-success-color: #164623;
	--input-success-border-color: #296837;
	--input-success-text-color: #37b346;
	--input-warning-color: #463516;
	--input-warning-border-color: #684e29;
	--input-warning-text-color: #b37737;
	--checkbox-unchecked-color: #4e4e4e;
	--selector-color: #1e1e1e;
	--cheevos-success-color: #ffbb00;
}

::-webkit-scrollbar {
	width: 0.5rem;
}
  
::-webkit-scrollbar-track {
	background: transparent;
	border-radius: 0.3rem;
}

::-webkit-scrollbar-thumb {
	border-radius: 0.3rem;
	background: #bbb;
}

html, body {
	height: 100%;
}

body {
	background-color: var(--primary-color);
	color: var(--secondary-color);
	font-family: "Exo 2", sans-serif;
	overflow: hidden;
}

#app {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

main i:not(#chat-icon, .input-message i, .achievement-icon i) {
	margin-right: 0.2rem;
}

/* ******************************** */
/*               Header             */
/* ******************************** */

header {
	background-color: var(--primary-color);
	color: var(--user-color);
	text-shadow: 0 0 5px var(--user-color);
	box-shadow: 0 2px 5px var(--user-color);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 1rem;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
	height: 5.5rem;
	min-width: 1040px;
	overflow: hidden;
}

header button {
	color: var(--user-color);
	text-shadow: 0 0 5px var(--user-color);
	background-color: transparent;
	border: none;
}

header button:hover:not(:disabled) {
	filter: brightness(50%);
	transition: all 0.3s ease;
}

#header-title i {
	color: var(--user-color);
	text-shadow: 0 0 5px var(--user-color);
	text-align: center;
	line-height: 5.5rem;
}

#header-title {
	height: 100%;
	position: relative;
	padding-right: 3.5rem;
	font-weight: bold;
}

#header-title::after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	height: 154%;
	width: 2px;
	background-color: var(--user-color);
	box-shadow: 0 0 5px var(--user-color);
	transform: translateY(-50%) rotate(45deg);
}

nav {
	flex-grow: 1;
}

nav ul {
	display: flex;
	align-items: center;
	margin: 0;
	padding: 0;
}

nav li {
	display: inline;
	list-style: none;
	margin-left: 1rem;
	height: 100%;
}

nav li:nth-last-child(4) {
	margin-left: auto;
	font-weight: bold;
}

nav li:nth-last-child(4) img {
	margin-right: 0.5rem;
}

#nav-profile {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1rem 0;
}

#nav-profile:hover {
	filter: brightness(0.5);
	transition: all 0.3s ease;
	cursor: pointer;
}

#nav-user {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;
	margin-right: 1rem;
}

#nav-username {
	font-size: 1.1rem;
}

#nav-display-name {
	font-weight: bold;
	opacity: 0.6;
}

#nav-avatar {
	border: 1px solid var(--user-color);
	box-shadow: 0 0 12px var(--user-color);
}

nav button {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1rem;
	font-weight: bold;
}

nav button:disabled {
	color: var(--header-disabled-color);
	text-shadow: 0 0 5px var(--header-disabled-color);
	cursor: not-allowed;
}

#nav-avatar {
	width: 3.2rem;
	height: 3.2rem;
}

#credits-button:disabled i {
	color: var(--header-disabled-color);
	text-shadow: 0 0 5px var(--header-disabled-color);
	cursor: not-allowed;
}

nav i {
	padding: 1rem;
	display: block;
}

#input-message {
	width: 100%;
	min-height: 3rem;
	border-radius: 0.3rem;
	padding: 0.5rem;
	margin-bottom: 1rem;
	display: none;
}

#input-message i {
	padding: 0 0.5rem;
}

.avatar {
	object-fit: cover;
	object-position: top center;
	border-radius:50%;
}

/* ******************************** */
/*                Main              */
/* ******************************** */

main {
	width: 100%;
	height: 100%;
	margin-top: 5.5rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 2.5rem;
	gap: 2.5rem;
}

.card {
	background-color: var(--accent-color);
	color: var(--secondary-color);
	border: 1px solid var(--user-color);
	box-shadow: 0 0 15px var(--user-color);
	border-radius: 0.3rem;
	padding: 1rem 2rem 2rem 2rem;
}

#card-title {
	width: 100%;
	text-align: center;
	margin-bottom: 1rem;
	font-weight: bold;
}

input {
	margin-bottom: 1rem;
	width: 100%;
	color: var(--secondary-color);
	background-color: var(--hover-color);
	border: none;
	border-radius: 0.3rem;
	height: 3rem;
	padding: 0 0.7rem;
}

input::placeholder {
	color: var(--secondary-color);
	opacity: 0.5;
}

input:focus {
	border: 1px solid var(--user-color);
	box-shadow: 0 0 15px var(--user-color);
	outline: none;
	transition: all 0.3s ease;
}

form {
	width: 100%;
}

form button {
	margin-bottom: 1rem;
	color: var(--secondary-color);
	background-color: var(--primary-color);
	border: 1px solid var(--primary-color);
	border-radius: 0.3rem;
	padding: 0.4rem;
	font-weight: bold;
	height: 3rem;
	width: 100%;
}

form button:hover:not(:disabled) {
	border: 1px solid var(--user-color);
	box-shadow: 0 0 15px var(--user-color);
	transition: all 0.3s ease;
}

.input-container {
	width: 100%;
	position: relative;
	display: inline-block;
}

.input-container i {
	position: absolute;
	top: 50%;
	transform: translateY(-100%);
	pointer-events: none;
	color: var(--secondary-color);
	opacity: 0.5;
}

.input-container input {
	padding-left: 2.65rem;
	padding-right: 2.65rem;
	width: 100%;
	box-sizing: border-box;
}

.input-icon {
	left: 1rem;
}

#password-toggle, #confirm-password-toggle {
	right: 1rem;
	cursor: pointer;
	pointer-events: auto;
	z-index: 1;
}

#play-card, #customize-card {
	width: 30rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#color, #quality, #bot-difficulty, #game-type {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 1rem;
	height: 3rem;
	border-radius: 0.3rem;
	background-color: var(--primary-color);
}

#bot-difficulty {
	display: none;
}

#selector-middle {
	font-weight: bold;
}

#selector-left-arrow, #selector-right-arrow {
	width: 4.5rem;
	height: 3rem;
	background-color: var(--selector-color);
	color: var(--secondary-color);
	border: none;
}

#selector-left-arrow {
	border-radius: 0.3rem 0 0 0.3rem;
	align-self: flex-start;
}

#selector-right-arrow {
	border-radius: 0 0.3rem 0.3rem 0;
	align-self: flex-end;
}

#start-button, #save-button, #toggle-2fa-button, #delete-account-button, #create-button, #join-button, #leave-button, #ready-button, #forfeit-button {
	width: 100%;
	margin-bottom: 1rem;
	color: var(--secondary-color);
	background-color: var(--primary-color);
	border: 1px solid var(--primary-color);
	border-radius: 0.3rem;
	padding: 0.4rem;
	transition: all 0.3s ease;
	font-weight: bold;
	height: 3rem;
}

#start-button:hover, #save-button:hover, #toggle-2fa-button:hover, #create-button:hover, #join-button:hover, #leave-button:hover, #ready-button:hover, #forfeit-button:hover {
	border: 1px solid var(--user-color);
	box-shadow: 0 0 15px var(--user-color);
	transition: all 0.3s ease;
}

/* ******************************** */
/*           Login & Signup         */
/* ******************************** */

#login-card, #signup-card {
	width: 30rem;
}

#login-form, #signup-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#login-form button:not(#signup-button), #signup-form button:not(#login-button) {
	width: 100%;
}

#signup-link button, #login-link button {
	width: auto;
	background-color: transparent;
	border: none;
	color: var(--secondary-color);
	text-shadow: 0 0 5px var(--user-color);
	text-decoration: underline;
	text-underline-offset: 0.25rem;
	padding: 0;
	font-weight: normal;
}

#signup-link button:hover, #login-link button:hover {
	box-shadow: none;
}

#oauth-logo {
	width: 1.5rem;
	height: 1.5rem;
}

#login-form-divider {
	width: 100%;
	border: none;
	border-top: 1px solid var(--secondary-color);
	overflow: visible;
	text-align: center;
	height: 1rem;
	opacity: 0.5;
}

#login-form-divider::after {
	content: "or";
	background-color: var(--accent-color);
	padding: 0 4px;
	position: relative;
	top: -0.9rem;
}

#upload-avatar {
	width: 100%;
	margin-bottom: 1rem;
	background-color: var(--primary-color);
	border: 1px solid var(--primary-color);
	border-radius: 0.3rem;
	padding: 0.5rem 1rem;
	text-align: center;
	font-weight: bold;
	min-height: 3rem;
}

#upload-avatar:hover {
	border: 1px solid var(--user-color);
	box-shadow: 0 0 15px var(--user-color);
	transition: all 0.3s ease;
}

#upload-avatar label {
	width: 100%;
	cursor: pointer;
}

#upload-avatar label i{
	cursor: pointer;
}

#recaptcha {
	margin-bottom: 1rem;
	display: none;
	align-self: flex-start;
}

#totp-modal {
	width: 30rem;
}

#totp-method-button {
	margin-bottom: 1rem;
	color: var(--secondary-color);
	background-color: var(--primary-color);
	border: 1px solid var(--primary-color);
	border-radius: 0.3rem;
	padding: 0.4rem;
	font-weight: bold;
	height: 3rem;
	width: 100%;
}

#totp-method-button:hover {
	border: 1px solid var(--user-color);
	box-shadow: 0 0 15px var(--user-color);
	transition: all 0.3s ease;
}

#totp-form button {
	background-color: var(--primary-color);
	border: 1px solid var(--primary-color);
}

#totp-form button:hover, #totp-method-button:hover {
	border: 1px solid var(--user-color);
}

#totp-form-divider {
	width: 100%;
	border: none;
	border-top: 1px solid var(--hover-color);
	overflow: visible;
	text-align: center;
	height: 1rem;
	opacity: 0.5;
}

#totp-form-divider::after {
	content: "or";
	background-color: #080808;
	color: var(--hover-color);
	padding: 0 4px;
	position: relative;
	top: -0.9rem;
}

/* ******************************** */
/*                Play              */
/* ******************************** */

#game-mode
{
	margin-bottom: 1rem;
	position: relative;
	width: 100%;
	height: 3rem;
}

.knobs, .layer
{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.checkbox-button
{
	position: relative;
	width: 100%;
	height: 3rem;
}

.checkbox
{
	position: relative;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	opacity: 0;
	cursor: pointer;
	z-index: 3;
}

.knobs
{
	z-index: 2;
}

.layer
{
	width: 100%;
	border-radius: 0.3rem;
	background-color: var(--primary-color);
	transition: 0.3s ease all;
	z-index: 1;
}

.checkbox-button .knobs:before, .checkbox-button .knobs:after, .checkbox-button .knobs span
{
	position: absolute;
	width: 50%;
	height: 3rem;
	font-weight: bold;
	text-align: center;
	line-height: 1;
	padding: 1rem 0;
	border-radius: 0.3rem;
	transition: 0.3s ease all;
}

.checkbox-button .knobs:before
{
	content: '';
	left: 0;
	background-color: var(--selector-color);
}

#game-mode-rumble {
	left: 50%;
	color: var(--checkbox-unchecked-color);
}

.checkbox-button .checkbox:checked + .knobs #game-mode-rumble {
	color: var(--secondary-color);
}

.checkbox-button .checkbox:checked + .knobs #game-mode-classic {
	color: var(--checkbox-unchecked-color);
}

.checkbox-button .checkbox:checked + .knobs:before
{
	left: 50%;
	background-color: var(--selector-color);
}

#chat-icon {
	color: var(--secondary-color);
}

#main-view {
	justify-content: space-between;
}

#how-to-play-card {
	align-self: flex-start;
	text-align: center;
	width: 30rem;
}

#play-card, #left-filler, #search-game-modal {
	width: 30rem;
}

#search-game-modal {
	font-weight: bold;
}

#game-search-loading {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

#game-search-loading #ball-spinner {
	animation: ball-moving 2s infinite linear;
}

#game-search-loading #paddle-left {
	rotate: 90deg;
	animation: paddle-left-moving 2s infinite linear;
}

#game-search-loading #paddle-right {
	rotate: 90deg;
	animation: paddle-right-moving 2s infinite linear;
}
  
@keyframes ball-moving {
	0%   {transform: translateX(0) rotate(0deg);}
	25%  {transform: translateX(-500%) rotate(90deg);}
	50%  {transform: translateX(0) rotate(180deg);}
	75%  {transform: translateX(500%) rotate(270deg);}
	100% {transform: translateX(0) rotate(360deg);}
}

@keyframes paddle-left-moving {
	0%   {transform: translateX(0);}
	15%  {transform: translateX(-20%);}
	35%  {transform: translateX(-40%);}
	50%  {transform: translateX(0);}
	65%  {transform: translateX(30%);}
	85%  {transform: translateX(15%);}
	100% {transform: translateX(0);}
}

@keyframes paddle-right-moving {
	0%   {transform: translateX(0);}
	20%  {transform: translateX(35%);}
	40%  {transform: translateX(20%);}
	50%  {transform: translateX(0);}
	70%  {transform: translateX(-25%);}
	85%  {transform: translateX(-10%);}
	100% {transform: translateX(0);}
}

#game-search-timer {
	margin: 1rem 0;
	font-size: 2rem;
}

#game-search-info {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	margin-bottom: 1rem;
	font-weight: bold;
	font-size: 1.1rem;
}

#cancel-search-button {
	margin-bottom: 1rem;
	color: var(--secondary-color);
	background-color: var(--primary-color);
	border: 1px solid var(--primary-color);
	border-radius: 0.3rem;
	padding: 0.4rem;
	height: 3rem;
	font-weight: bold;
	width: 100%;
}

#cancel-search-button:hover {
	border: 1px solid var(--user-color);
	box-shadow: 0 0 15px var(--user-color);
	transition: all 0.3s ease;
}

/* ******************************** */
/*                Customize         */
/* ******************************** */

#customize-card {
	align-self: flex-start;
}

#preview-card {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	padding: 2rem;
}

#preview {
	width: 100%;
	height: 100%;
	padding: 0 2.5rem;
}

#selector-right-arrow:disabled, #selector-left-arrow:disabled, #save-button:disabled {
	background-color: var(--hover-color);
	cursor: not-allowed;
}

#save-button:disabled
{
	border-color: var(--hover-color);
}

#save-button:disabled:hover
{
	box-shadow: none;	
}

/* ******************************** */
/*             Leaderboard          */
/* ******************************** */

#leaderboard-card {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 70%;
	height: 100%;
	font-weight: bold;
}

#leaderboard-content {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

#classic-leaderboard-table {
	width: 100%;
	height: 100%;
	overflow-y: auto;
	max-height: 65vh;
}

#leaderboard-table {
	position: relative;
	width: 100%;
	flex-grow: 1;
}

#leaderboard-table-container {
	width: 100%;
	position: absolute;
	overflow-y: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.lb-card-header {
	display: flex;
	justify-content: center;
	flex-direction: row;
	width: 100%;
	border-bottom: 1px solid var(--selector-color);
}

.lb-card-header div {
	padding: 0.75rem;
}

.lb-card-header div:first-child {
	border-top-left-radius: 0.3rem;
}

.lb-card-header div:last-child {
	border-top-right-radius: 0.3rem;
}

.lb-card {
	display: flex;
	justify-content: center;
	flex-direction: row;
	border: 1px solid var(--selector-color);
}

.lb-card:last-child {
	border-bottom-left-radius: 0.3rem;
	border-bottom-right-radius: 0.3rem;
}

.lb-card-att {
	text-align: center;
	background-color: var(--primary-color);
	padding: 0.6rem;
	color: var(--secondary-color);
}

.lb-card-pos {
	width: 15%;
}

.lb-card-user {
	width: 35%;
}

.lb-card-avatar {
	width: 2rem;
	height: 2rem;
}

.lb-card-elo {
	width: 20%;
}

.lb-card-games {
	width: 15%;
}

.lb-card-winrate {
	width: 15%;
}

.lb-card-user button {
	border: none;
	background-color: transparent;
	color: var(--secondary-color);
	font-weight: bold;
}

.lb-card-user button:hover {
	opacity: 0.5;
}

#lb-card-1 .lb-card-pos:before {
	content: '\f5a2';
	color: #FFD700;
	font-family: "Font Awesome 5 Free";
	margin-right: 0.5rem;
}

#lb-card-2 .lb-card-pos:before {
	content: '\f5a2';
	color: #C0C0C0;
	font-family: "Font Awesome 5 Free";
	margin-right: 0.5rem;
}

#lb-card-3 .lb-card-pos:before {
	content: '\f5a2';
	color: #CD7F32;
	font-family: "Font Awesome 5 Free";
	margin-right: 0.5rem;
}

/* ******************************** */
/*            Achievements          */
/* ******************************** */

#achievements-card {
	width: 70%;
	height: 100%;
}

.achievements-card-title {
	margin-bottom: 0.5rem !important;
}

#cheevos-content {
	display: flex;
	align-content: center;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	flex-direction: row;
	gap: 20px;
}

#achievements-info {
	text-align: center;
	margin-bottom: 0.5rem;
	opacity: 0.5;
}

.cheevo {
	height: 5.5rem;
	min-width: 45%;
	display: flex;
	border-radius: 6rem;
	align-items: center;
	background-color: var(--selector-color);
	border: 2px solid var(--header-disabled-color);
}

.cheevo-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem;
	gap: 0.5rem;
}

.cheevo-icon {
	border-radius: 50%;
	background-color: var(--primary-color);
	border: 2px solid var(--header-disabled-color);
	border-left: none;
	text-align: center;
	min-width: 5.5rem;
	min-height: 5.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
	color: var(--hover-color);
}

.cheevo-left {
	width: 100%;
	height: 100%;
}

.cheevo-right {
	margin-right: 0.5rem;
}

.cheevo-title {
	font-weight: bold;
}

.cheevo-body {
	font-size: 0.8rem;
}

.cheevo-row {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#achievements-total-progress-bar {
	width: 90%;
	margin-top: 0;
}

.progress-bar {
	width: 50%;
	height: 1.4rem;
	background: var(--primary-color);
	position: relative;
	border-radius: 1.4rem;
	margin-top: 0.2rem;
}

.progress-bar-percentage {
	background-color: var(--cheevos-success-color);
	color: var(--secondary-color);
	text-align: center;
	height: 100%;
}

.progress-bar-percentage span {
	display: inline-block;
	position: absolute;
	width: 50%;
	left: 25%;
	font-weight: bold;
}

.cheevo-unlock-txt {
	font-size: 0.8rem;
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	left: 0.2rem;
	bottom: 0.05rem;
}

.all-rounded {
	border-radius: 5px;
}

.cheevo-reward {
	background-color: var(--secondary-color);
	border: 3px solid var(--primary-color);
	border-radius: 50%;
	height: 2rem;
	width: 2rem;
}

.cheevo.success .cheevo-icon {
	color: var(--cheevos-success-color);
	border-color: var(--cheevos-success-color);
}

.cheevo.success  {
	border-color: var(--cheevos-success-color);
	box-shadow: 0 0 5px var(--cheevos-success-color);
}

.cheevo.success .progress-bar-percentage span {
	color: var(--secondary-color);
}

.tooltip {
	position: relative;
	opacity: 0;
	width: 120px;
	background-color: var(--hover-color);
	color: var(--secondary-color);
	text-align: center;
	padding: 5px 0;
	border-radius: 6px;
	z-index: 1;
	transition: opacity 0.6s;
	margin-top: -50px;
	margin-left: -50px;
}

.cheevo-reward:hover .tooltip {
	opacity: 1;
}

.cheevo-icon i {
	margin-right: 0 !important;
}

/* ******************************** */
/*                Settings          */
/* ******************************** */

#settings-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#settings-card {
	width: 30rem;
}

#settings-card button {
	width: 100%;
}

#save-settings-button {
	margin-bottom: 2rem;
}

#recovery-modal, #delete-modal {
	width: 30rem;
}

#recovery-codes {
	text-align: center;
	width: 100%;
	border: 1px solid var(--accent-color);
	border-radius: 0.3rem;
	list-style-type: none;
	padding: 1rem;
	font-weight: bold;
}

#qr-code {
	text-align: center;
	width: 100%;
	border: 1px solid var(--accent-color);
	border-radius: 0.3rem;
	margin-bottom: 1rem;
}

#qr-code svg path {
	fill: var(--secondary-color);
}

#confirm-delete-account-button {
	margin-bottom: 1rem;
	color: var(--input-error-text-color);
	background-color: var(--input-error-color);
	border: 1px solid var(-input-error-border-color);
	border-radius: 0.3rem;
	padding: 0.4rem;
	font-weight: bold;
	height: 3rem;
	width: 100%;
}

#confirm-delete-account-button:hover {
	border: 1px solid var(--input-error-text-color);
	box-shadow: 0 0 15px var(--input-error-text-color);
	transition: all 0.3s ease;
}

#delete-account-button {
	background-color: var(--input-error-color);
	border: 1px solid var(--input-error-border-color);
	color: var(--input-error-text-color);
}

#delete-account-button:hover {
	border: 1px solid var(--input-error-text-color);
	box-shadow: 0 0 15px var(--input-error-text-color);
	transition: all 0.3s ease;
}

/* ******************************** */
/*                Profile           */
/* ******************************** */

#profile-card {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	width: 70%;
	height: 100%;
	overflow: hidden;
	position: relative;
	padding-top: 2rem;
}

#profile-card-header {
	margin-bottom: 1rem;
}

#profile-card h5 {
	font-size: 1.2rem;
	margin-bottom: 1rem;
}

#profile-card ul {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	margin: 0;
	padding: 0;
}

#profile-card li {
	display: inline;
	list-style: none;
	height: 100%;
}

#profile-card li:not(:first-child) {
	margin-left: 1rem;
}

.stat-value {
	font-weight: bold;
	text-align: center;
}

.stat-label {
	opacity: 0.5;
	font-weight: bold;
}

.profile-card-content {
	background-color: var(--primary-color);
	color: var(--secondary-color);
	border-radius: 0.3rem;
	padding: 1rem;
}

#profile-card-header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 25%;
	padding-top: 0;
}

#profile-card-header-left, #profile-card-header-middle, #profile-card-header-right {
	display: flex;
	flex-direction: column;
	padding: 0;
	height: 100%;
}

#profile-card-header-left, #profile-card-header-right {
	width: 40%;
	overflow: hidden;
	padding-top: 1rem;
}

#profile-card-header-middle {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 20%;
	overflow: hidden;
	margin-top: 0.5rem;
}

#profile-card-username, #profile-card-display-name {
	font-weight: bold;
}

#profile-card-username {
	font-size: 1.1rem;
}

#profile-card-display-name {
	font-weight: bold;
	opacity: 0.6;
}

#profile-card-avatar {
	width: min(50%, 6rem);
	aspect-ratio: 1;
	margin-bottom: 0.2rem;
	border: 1px solid var(--user-color);
	box-shadow: 0 0 15px var(--user-color);
}

#profile-card-body {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;
	width: 100%;
	height: calc(75% - 1rem);
	gap: 1rem;
	overflow: hidden;
}

#profile-card-body-left {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#profile-card-tournaments {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 25%;
	margin-bottom: 1rem;
	overflow: hidden;
}

.profile-card-stats {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
}

.profile-card-stats ul {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
	margin: 0;
	padding: 0;
}

.profile-card-stats li {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.stat-value {
	font-weight: bold;
	margin-bottom: 0.5rem;
	font-size: 1.2rem;
}

.stat-label {
	opacity: 0.5;
	font-weight: bold;
}

#profile-card-achievements {
	width: 100%;
	height: 75%;
}

#profile-achievements-content {
	width: 100%;
	height: 90%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
}

#achievements-content {
	width: 100%;
	height: 100%;
	position: relative;
}

#achievements-item-container {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
	align-content: flex-start;
	flex-wrap: wrap;
	row-gap: 1rem;
	column-gap: 1.415rem;
	padding: 1rem 0.5rem 1rem 1rem;
}

.achievement-item {
	width: 5.5rem;
}

#achievements-stats {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: flex-end;
	margin-top: 1rem;
}

#achievements-header {
	width: 100%;
	display: flex;
}

.achievement-icon {
	border-radius: 50%;
	background-color: var(--primary-color);
	border: 2px solid var(--cheevos-success-color);
	text-align: center;
	min-width: 5.5rem;
	min-height: 5.5rem;
	width: 5.5rem;
	height: 5.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
	color: var(--cheevos-success-color);
	box-shadow: 0 0 10px var(--cheevos-success-color);
}

.achievement-title {
	font-weight: bold;
	font-size: 0.9rem;
	text-align: center;
	margin-top: 0.5rem;
	color: var(--secondary-color);
}

#profile-to-achievements:hover {
	cursor: pointer;
	opacity: 0.5;
}

#profile-card-game-history {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

#game-history-content {
	width: 100%;
	height: 100%;
	position: relative;
}

#game-history-item-container, #achievements-item-container {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow-y: auto;
}

.game-history-item {
	width: 100%;
	height: 5.5rem;
	background-color: var(--selector-color);
	border-radius: 0.3rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.game-history-item:not(:last-child) {
	margin-bottom: 1rem;
}

#player-left-avatar, #player-right-avatar, #winner-avatar {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#player-left-avatar {
	margin: 0 1rem 0 0.5rem;
}

#player-right-avatar {
	margin: 0 0.5rem 0 1rem;
}

.player-winner {
	font-size: 0.75rem;
	text-align: center;
	color: var(--user-color);
	text-shadow: 0 0 5px var(--user-color);
}

.player-loser {
	opacity: 0.5;
	font-size: 0.75rem;
	text-align: center;
}

.player-avatar {
	width: 3.2rem;
	height: 3.2rem;
	border: 1px solid var(--user-color);
	box-shadow: 0 0 15px var(--user-color);
}

#player-left-history-name, #player-right-history-name {
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 16ch;
	font-weight: bold;
	text-align: center;
	flex-grow: 1;
}

#player-left-avatar button, #player-right-avatar button, #winner-avatar button, 
#player-left-history-name button, #player-right-history-name button {
	border: none;
	background-color: transparent;
	color: var(--secondary-color);
	font-weight: bold;
	width: 100%;
}

#player-left-avatar button:hover, #player-right-avatar button:hover, #winner-avatar button:hover,
#player-left-history-name button:hover, #player-right-history-name button:hover {
	opacity: 0.5;
}

#game-history-game-type i {
	margin: 0 0.5rem 0 1rem !important;
}

#game-history-elo-change i {
	margin: 0 0.2rem 0 0.5rem !important;
}

#game-history-middle {
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	font-weight: bold;
}

#game-middle-info {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#game-history-date, #game-history-time {
	opacity: 0.5;
	font-size: 0.75rem;
	text-align: center;
}

#game-history-elo-change {
	font-weight: bold;
	flex-shrink: 0;
	margin-right: 1rem;
}

/* ******************************** */
/*                Credits           */
/* ******************************** */

#subject-card {
	padding: 1rem;
}

#credits-card, #subject-card {
	text-align: center;
	width: 30rem;
	height: 45rem;
	overflow: hidden;
}

#tooltip-github {
	font-size: 0.8rem;
	opacity: 0.5;
}

#github-links {
	color: var(--secondary-color);
	background-color: var(--accent-color);
}

#github-links a {
	text-decoration: none;
	color: var(--secondary-color);
	text-decoration: underline;
	text-underline-offset: 0.25rem;
	text-shadow: 0 0 5px var(--user-color);
}

#subject-pdf {
	width: 100%;
	height: 100%;
	border-radius: 0.3rem;
}

/* ******************************** */
/*             Tournament           */
/* ******************************** */

#tournament-create-card {
	width: 30rem;
	display: flex;
	flex-direction: column;
	align-self: flex-start;
	justify-content: center;
}

#tournament-room-card {
	display: none;
	width: 30rem;
	height: 100%;
}

#tournament-room-content {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-self: flex-start;
	justify-content: center;
}

#waiting-room {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	margin-bottom: 1rem;
	background-color: var(--primary-color);
	border-radius: 0.3rem;
	padding: 1rem;
}

#waiting-room-info {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	margin-bottom: 0.5rem;
	font-weight: bold;
}

#tournament-state {
	font-weight: bold;
	text-align: center;
	margin-bottom: 1rem;
}

#waiting-room-content {
	position: relative;
	width: 100%;
	height: 100%;
}

#waiting-room-container {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow-y: auto;
	padding: 0;
	margin: 0;
}

#waiting-room-container li {
	background-color: var(--selector-color);
	height: 5.5rem;
	border-radius: 0.3rem;
	list-style: none;
	font-weight: bold;
	padding: 1rem;
}

#waiting-room-container li:not(:last-child) {
	margin-bottom: 1rem;
}

.tournament-waiting-player-name {
	align-self: center;
	margin-left: 0.5rem;
}

.tournament-player-state {
	margin-left: 1.5rem;
}

.tournament-waiting-player-elo, .tournament-waiting-player-top-1 {
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	text-align: center;
	gap: 0.5rem;
}

.tournament-waiting-player-elo i, .tournament-waiting-player-top-1 i {
	margin-right: 0 !important;
}

.tournament-waiting-player-elo {
	margin-left: auto;
	margin-right: 2rem;
}

#join-button, #leave-button, #ready-button {
	margin-top: auto
}

#leave-button {
	display: none;
}

#game-size
{
	margin-bottom: 1rem;
	position: relative;
	width: 100%;
	height: 3rem;
}

#game-size-8 {
	left: 50%;
	color: var(--checkbox-unchecked-color);
}

.checkbox-button .checkbox:checked + .knobs #game-size-8 {
	color: var(--secondary-color);
}

.checkbox-button .checkbox:checked + .knobs #game-size-4 {
	color: var(--checkbox-unchecked-color);
}

#tournament-tree-card {
	height: 100%;
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	padding: 2rem;
}

#tournament-tree {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 0.3rem;
	background-color: var(--primary-color);
	gap: 1rem;
	padding: 1rem;
}

.tournament-tree-node {
	width: 100%;
	height: 25%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	gap: 1rem;
}

.tournament-game {
	width: 25%;
	height: 6.5rem;
	background-color: var(--selector-color);
	border-radius: 0.3rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	font-weight: bold;
	padding: 1rem;
}

#player-left-tournament-name, #player-right-tournament-name {
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 8ch;
	font-weight: bold;
	text-align: center;
}

.tournament-game #player-left-avatar, .tournament-game #player-right-avatar {
	flex-grow: 1;
}

#winner-avatar button, #player-left-tournament-name button, #player-right-tournament-name button {
	border: none;
	background-color: transparent;
	color: var(--secondary-color);
	font-weight: bold;
	width: 100%;
}

#winner-avatar button:hover, #player-left-tournament-name button:hover, #player-right-tournament-name button:hover {
	opacity: 0.5;
}

.game-spectate-button {
	margin-top: 0.5rem;
	background-color: transparent;
	color: var(--secondary-color);
	border: none;
}

#winner-player-avatar {
	width: 5.5rem;
	height: 5.5rem;
}

#winner-crown {
	margin-bottom: 1rem;
}

.redirect-to-profile-button {
	width: 100%;
	background-color: transparent;
	color: var(--secondary-color);
	border: none;
	font-weight: bold;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}

.redirect-to-profile-button:hover {
	opacity: 0.5;
}

/* ******************************** */
/*                Admin             */
/* ******************************** */

.service-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 28rem;
	height: 18rem;
}

.service-logo {
	width: 2rem;
	height: 2rem;
	position: relative;
	top: -0.2rem;
}

.service-button {
	width: 100%;
	color: var(--secondary-color);
	background-color: var(--primary-color);
	border: 1px solid var(--primary-color);
	border-radius: 0.3rem;
	padding: 0.4rem;
	transition: all 0.3s ease;
	font-weight: bold;
	height: 3rem;
}

.service-button:hover {
	border: 1px solid var(--user-color);
	box-shadow: 0 0 15px var(--user-color);
	transition: all 0.3s ease;
}

#admin-view {
	flex-wrap: wrap;
}

/* ******************************** */
/*                Game              */
/* ******************************** */

#game-summary-modal {
	margin-top: 0;
	width: 45rem;
}

#game-summary-info {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	margin-bottom: 1rem;
	font-weight: bold;
	font-size: 1.2rem;
}

#game-summary {
	width: 100%;
	height: 12rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 1rem;
}

#game-summary-middle {
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	font-weight: bold;
	font-size: 1.2rem;
}

#game-summary-middle #game-middle-info {
	margin: 0 1rem;
}

#game-summary-elo {
	margin-top: 1rem;
}

#player-left-redirect .avatar, #player-right-redirect .avatar {
	width: 5.5rem;
	height: 5.5rem;
}

#player-left-redirect .player-loser, #player-right-redirect .player-loser,
#player-left-redirect .player-winner, #player-right-redirect .player-winner  {
	font-size: 1rem;
}

#player-left-summary-name, #player-right-summary-name {
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 16ch;
	font-weight: bold;
	text-align: center;
	flex-grow: 1;
	font-size: 1.2rem;
}

#player-left-summary-name button, #player-right-summary-name button {
	border: none;
	background-color: transparent;
	color: var(--secondary-color);
	font-weight: bold;
	width: 100%;
}

#player-left-summary-name button:hover, #player-right-summary-name button:hover {
	opacity: 0.5;
}

#return-button {
	margin-bottom: 1rem;
	color: var(--secondary-color);
	background-color: var(--primary-color);
	border: 1px solid var(--primary-color);
	border-radius: 0.3rem;
	padding: 0.4rem;
	height: 3rem;
	font-weight: bold;
	width: 100%;
}

#return-button:hover {
	border: 1px solid var(--user-color);
	box-shadow: 0 0 15px var(--user-color);
	transition: all 0.3s ease;
}

/* ******************************** */
/*                Modal             */
/* ******************************** */

.my-modal-background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 200;
	display: none;
	align-items: center;
	justify-content: center;
	background-color: rgba(17, 17, 17, 0.85);
}

.my-modal {
	background-color: #080808;
	color: var(--secondary-color);	
	margin-top: 5.5rem;
	border-radius: 0.3rem;
	padding: 1rem;
	border: 1px solid var(--user-color);
	box-shadow: 0 0 15px var(--user-color);
}

.modal-header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 1rem;
}

.modal-header i:hover {
	cursor: pointer;
}

.modal-title {
	font-weight: bold;
}

.my-modal-content {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0.5rem;
}

.my-modal-content input {
	background-color: var(--accent-color);
	border: 1px solid var(--accent-color);
}

.my-modal-content input:focus {
	border: 1px solid var(--user-color);
}

.modal-info {
	font-size: 0.9rem;
	opacity: 0.5;
	font-weight: normal;
}

#card-end {
	width: 33%;
	height: 25%;
	position: absolute;
	display: flex;
	justify-content: space-around;
	border: 2px solid var(--user-color);
	box-shadow: 0 0 15px var(--user-color);
	border-radius: 1rem;
	background-color: var(--primary-color);
}

.card-end-column {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.card-end-mode {
	font-size: 3rem;
	text-shadow: 0 0 5px white;
}

.card-end-row {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.card-end-text, .card-end-username {
	font-size: 2rem;
}

.card-end-avatar {
	height: 6.6rem;
	width: 6.6rem;
	border-radius: 50%;
	border: 2px solid var(--user-color);
	box-shadow: 0 0 15px var(--user-color);
	margin-top: 1.5rem;
}
